@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
}
      
.top_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.top_header--mobile{
    position: relative;
    display: flex;
    align-items: baseline;
    align-items: stretch;
    flex-direction: row-reverse;
}

h1{
    margin-left: 140px;
    font-size: 2.5rem;
}

.menu-nav{
    display: none;
    background-color: black;
    width: 200px;
    cursor: pointer;
}

.top_header nav{
    display: flex;
}

header nav{
    width: 50%;
    margin-top: 47px;
}

.header_nav{
    text-decoration: none;
    color: black;
}

header ul{
    justify-content: end;
    display: flex;
    list-style: none;
    
}

header li{
    font-size: 1.5rem;
    width: 80px;
    height: 50px;
    margin-left: 3vw;
}

header li:hover{
    cursor: pointer;
    font-weight: 700;
}

.banner_header{
    background-image: url('img/banner_header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 64%;
    padding: 300px 0;
}

.banner_text{
    max-width: 1366px;
    width: 70vw;
    height: 400px;
    margin: 0 auto;
    margin-left: 140px;
}

.banner_text h2{
    font-size: 2.9rem;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 0 black;
}

.banner_text p{
    font-size: 2.2rem;
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
}

.img_box--main{
    
    max-width: 1366px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.set_image--main{
    cursor: pointer;
    width: 300px;
    height: 389px;
    padding-left: 1rem;
    padding-top: 1rem;
}

.set_image--main:hover{
    transform: scale(80%);
}

footer{
    max-width: 1366px;
    width: 100%;
    background-color: #00000020;
    padding: 2rem 0;
    margin-top: 4rem;
}

.container_footer{
    display: flex;
    max-width: 1366px;
    margin: 0 auto;
}

.img_box--footer{
    display: flex;
    width: 600px;
    margin-left: 0.5rem;
    
}

.set_image--footer{
    margin-left: 2vw;
    width: 2vw;
    height: 4vh;
}

.container_footer--text{
    display: flex;
    width: 100%;
    margin-left: 1rem;
}

.footer_text{
    display: flex;
}

.footer_text h3{
    font-size: 1.2rem;
}

.footer_text p{
    font-size: 0.9rem;
}

.button_footer{
    display: none;
    cursor: pointer;
    background-color: #333333;
    color: #CCCCCC;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    text-shadow: 1px #707070;
    display: none;
    border: none;
}

@media(max-width:1100px){
    header nav{
        margin-right: 9vw;
    }
}

@media(min-width:1500px){
    header nav{
        margin-right: 550px;
    }
}

@media(max-width:920px){

    header li{
        display: none;
    }

    .menu-nav{
        display: initial;
        width: 100px;
        height: 50px;
    }

    .top_header{
        background-color: white;
    }

    .top_h1{
        font-size: 1.8rem;
    }

    
    .img-box img{
        width: 300px;
    }

    .banner_header{     
        height: 640px;
        padding: 0;
        background-position-x: 84%;
        background-size: cover;
    }

    .banner_text{
        position: relative;
        top: 100px;
        right: 30vw;
        padding: 20vw;
    }

    .banner_text h2{
        font-size: 3.1rem;
    }

    .banner_text p{
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }

    footer{
        display: inline;
    }

    .container_footer{
        flex-direction: column;
        align-items: center;
    }

    .img_box--footer{
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        background-color: #7FDBD4;
        height: 2.5rem;
    }
    
    .set_image--footer{
        margin: 0 auto;
        height: 20px;
    }
    
    .container_footer--text{
        width: 300px;
        justify-content: space-between;
        margin-left: 0;
    }

    .footer_text{
        flex-direction: column;
        width: 160px;
    }

    .footer_text p{
        font-size: 0.8rem;
    }

    .container_button--footer{
        align-self: center;
    }

    .button_footer{
        display: initial;
    }
}

@media(min-width:617px){

    .img_box--footer{
        margin-left: 1rem;
        width: 80%;
    }
}

@media(min-width:922px){
    .top_header{
        position: fixed;
    }
}

@media(max-width:400px){
    .banner_text{
        right: 45vw;
    }

    .top_header--mobile{
        width: 90%;
    }

    .menu-nav{
        margin-left: 10vw;
    }
}