@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header{
    flex-direction: column;
    max-width: 1366px;
    width: 100%;
}
      
.top_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.top_header--mobile{
    position: relative;
    display: flex;
    align-items: baseline;
    align-items: stretch;
    flex-direction: row-reverse;
}

h1{
    margin-left: 140px;
    font-size: 2.5rem;
}

.menu-nav{
    display: none;
    border: solid;
    background-color: black;
    width: 200px;
    cursor: pointer;
}

.top_header nav{
    display: flex;
}

header nav{
    width: 50%;
    margin-top: 47px;
}

.header_nav{
    text-decoration: none;
    color: black;
}

header ul{
    justify-content: end;
    display: flex;
    list-style: none;
    
}

header li{
    width: 80px;
    height: 50px;
    margin-left: 3vw;
}

header li:hover{
    cursor: pointer;
    font-weight: 700;
}

.banner_header{
    background-image: url('img/banner_header.png');
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 64%;
    padding: 300px 0;
}

.banner_text{
    max-width: 1366px;
    width: 70vw;
    height: 400px;
    margin: 0 auto;
    margin-left: 140px;
}

.banner_text h2{
    font-size: 2.9rem;
    font-weight: bolder;
    color: white;
    text-shadow: 1px 0 black;
}

.banner_text p{
    font-size: 2.2rem;
    margin-top: 4rem;
    text-transform: uppercase;
    font-weight: 200;
    color: white;
}

.img_box{
    
    max-width: 1366px;
    text-align: center;
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.set_image{
    width: 300px;
    height: 389px;
    padding-left: 1rem;
    padding-top: 1rem;
}

@media(max-width:1100px){
    .footer-box img{
        width: 30px;
        height: 30px;
    }

    .footer-txt{
        width: 100%;
    }

    header nav{
        margin-right: 9vw;
    }
}

@media(min-width:1500px){
    header nav{
        margin-right: 550px;
    }
}

@media(max-width:920px){

    header li{
        display: none;
    }

    .menu-nav{
        display: initial;
        width: 100px;
        height: 50px;
    }

    .top_header{
        background-color: white;
    }

    .top_h1{
        font-size: 1.8rem;
    }

    
    .img-box img{
        width: 300px;
    }

    .banner_header{     
        height: 640px;
        padding: 0;
        background-position-x: 84%;
        background-size: cover;
    }

    .banner_text{
        position: relative;
        top: 100px;
        right: 30vw;
        padding: 20vw;
    }

    .banner_text h2{
        font-size: 3.1rem;
        text-shadow: 3px 0 black;
    }

    .banner_text p{
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }
}

@media(min-width:922px){
    .top_header{
        position: fixed;
    }
}

@media(max-width:400px){
    .banner_text{
        right: 45vw;
    }
}